*/converted.txt
*/dumpy.txt
*/test.txt
*/events-meaningful.txt
*/events-meaningless.txt
format.txt
*/format.txt
*/*/format.txt
file-formatting/format.txt
**/keywords-list-converter.py
**/keywords.txt
**/verbs.txt
**/bestiary-*.json
**/random-tables/*